<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<style type="text/css">
.outside{ 
    height:300px;line-height:300px;
    background-color: #FFD306;
    text-align:center;
}
.inside{
    font-size: 50px;
}
.button{
    position:relative;top:50px;left:20px;
}
#information{
    position:relative;top:20px;left:20px;
}
</style>

<script type="text/javascript">
function hide(check){
    let hide = document.getElementById("p")
    if (check == 0){
        hide.type = "password"                                 //將type設成password可使密碼隱藏
    }
    else if(check == 1){
        document.getElementById("information").reset();        //將內容物清空之語法
    }
    else if(check == 2){
        hide.type = "text"                                     //將type設成text顯示原貌
    }
}
</script>
</head>
<body style="margin:0px;" onload="hide(0);">
    <div class="outside">
        <a class="inside">登入功能測試</a>
    </div>

    <form action="/signin" id="information" method="POST">
        帳號<input type="text" id="a", name="x">
        密碼<input type="text" id="p", name="y">
        <button>登入</button>
    </form>

    <div class="button">
        <button onclick="hide(1);">取消</button>
        <button onclick="hide(2);">顯示密碼</button>
    </div>
</body>
</html>